$background-2: #543616;
$background-1: #3E240E;
$lightershade: #9C7030;
$taskGradient: #a27a23;

html, body {
top: 0;
margin: auto;
font-family: arial, sans-serif;
font-weight: lighter;
text-align: center;
color: $lightershade;
background: $background-1; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(left, $background-1 , $background-2); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, $background-1, $background-2); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, $background-1, $background-2); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, $background-1 , $background-2); /* Standard syntax */
}
body {
  top-margin: 30px;
}
/*div container for each task*/
.tasks {
  padding: 20px 0 20px 15px;
  color: $background-2;
  border: 1px solid $background-2;
  text-align: left;
  background: $lightershade; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($lightershade, $taskGradient); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($lightershade, $taskGradient); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($lightershade, $taskGradient); /* For Firefox 3.6 to 15 */
    background: linear-gradient($lightershade, $taskGradient); /* Standard syntax (must be last) */
}
h1 {
  font-family: arial;
  text-align: center;
  font-size: 70%;
}
p {
  display: inline;
}
/*input field style*/
#taskName {
  border-width: 0 0 1px 0;
  border-color: $lightershade;
  width: 60%;
  font-size: 140%;
  text-align: center;
  padding: 10px;
  margin: 10px 10px 30px 10px;
  color: #89806E;
  background-color: transparent;
}
#taskName:focus {
  outline: none;
}
/*buttons*/
.deleteButton, .completeButton, #create {
  background-color: transparent;
  margin: 5px;
  padding: 3px;
  display: inline;
  border-radius: 1px;
  cursor: pointer;
}
.completeButton {
  border: 1px solid #61b41f;
  color: #61b41f;
}
.completeButton:hover {
  color: #fff;
  background-color: #61b41f;
}
.deleteButton {
    border: 1px solid $background-2;
    color: $background-2;
    float: right;
    margin: -5px 30px auto;
    padding: 8px;
}
.deleteButton:hover {
  color: $lightershade;
  background-color: $background-2;
}

input[type="checkbox"] {
  margin-right: 7px;
}

.deleteImg {
  opacity: .7;
  width: 20px;
}
