html, body {
font-family: arial, sans-serif;
font-weight: lighter;
text-align: center;
color: #444;
}
/*div container for each task*/
.tasks {
  margin: 15px auto;
  padding: 3px 10px;
  background-color: #daffbd;
  color: #3d3d3d
  border: 1px solid #305723;
  border-radius: 7px;
  width: 60%;
  text-align: left;
}
h1 {
  font-family: arial;
  text-align: center;
  font-size: 110%;
}
p {
  display: inline;
}
/*input field style*/
#taskName {
  border-width: 0 0 1px 0;
  border-color: #333;
  width: 60%;
  font-size: 140%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: #444;
}
#taskName:focus {
  outline: none;
}
/*buttons*/
.deleteButton, .completeButton, #create {
  background-color: transparent;
  margin: 5px;
  padding: 3px;
  display: inline;
  border-radius: 1px;
  cursor: pointer;
}
#create {
  border: 1px solid #61b41f;
  color: #61b41f;
  background-color: transparent;
}
#create:hover {
  background-color: #61b41f;
  color: #fff;
}
.completeButton {
  border: 1px solid #61b41f;
  color: #61b41f;
}
.completeButton:hover {
  border: 1px solid #61b41f;
  color: #fff;
  background-color: #61b41f;
}
.deleteButton {
    border: 1px solid #cf1111;
    color: #cf1111;
}
.deleteButton:hover {
  border: 1px solid #cf1111;
  color: #fff;
  background-color: #cf1111;
}
